$brandPrimary : #3D6531;
$brandPrimaryDark: #253D1D;
$brandPrimaryLight: #5e9c4c;
$brandPrimaryLightest: #81C07B;

$brandSecondary : #C8D001;
$brandSecondaryDark : #4d5000;
$brandSecondaryLight : #E3E5A1;
$brandSecondaryLighter : #E3E5A1;
$brandSecondaryLightest : #F3F3C9;

$lightGrey: #DDDDDD;
$accentDanger: #FF6D6D;
$accentDangerSub: #FFECEC;
$accentDangerLightest: #FFF2F2;
$accentWarning: #F0C84E;
$accentWarningLightest: #FEF3E3;
$accentWarningDark: #D8A814;
$accentPurple: #B464B7;
$accentBlue: #4A95C2;
$accentBlueLight: #A1DDF8;
$accentBlueDark: #0464a1;
$accentLime: #86D213;
$accentOrange: #EFBD2E;
$accentRed: #e03f59;
$accentTurquoise: #69E7A8;

$white: #FFF;
$black: #000;
$textPrimaryColor: #434343;
