$brandPrimary : #3D6531;
$brandPrimaryDark: #253D1D;
$brandPrimaryLight: #5e9c4c;
$brandPrimaryLightest: #81C07B;

$brandSecondary : #C8D001;
$brandSecondaryDark : #614700;
$brandSecondaryLight : #E3E5A1;
$brandSecondaryLighter : #ECEEAB;
$brandSecondaryLightest : #F3F3C9;

$lightGrey: #DDDDDD;
$success: #86D213;
$warning: #EFBD2E;
$danger: #E03F59;
$dangerLight: #FF6D6D;
$info: #40A9FF;
$infoLight: #91D5FF;
$infoDark: #1890FF;

$white: #FFF;
$black: #000;
$gray: #d9d9d9;
$textPrimaryColor: #434343;
